<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Welcome | Checkology</title>
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="welcome.css" />
    <link rel="stylesheet" href="home.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Advent+Pro:500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <img class="logo" src="./checkology.png" alt="logo" />
      <nav>
        <ul class="nav_links">
          <li><a href="/welcome">Welcome</a></li>
          <li><a href="/login">log in</a></li>
          <li><a href="/transactions">Transactions</a></li>
        </ul>
      </nav>
      <a class="cta" href="/contact"><button>Contact</button></a>
    </header>
    <div class="container">
      <h1><strong>Welcome</strong></h1>
      <p>
        Hey there, from the creative team of Checkology! My name is Ana!
        Assuming you are anything like me, you have some bad spending habits?
        yea.. we've all been there. I will be helping you navigate through our
        helpful budgeting web app. On the bottom right corner of every page,
        there will be a '?' symbol. If you click this symbol an alert box will
        pop up. The page will show you different tips about banking and
        budgeting. If there are things that we can't help you with immediately
        on this app you can contact me or anyone of us on the Checkology team
        through the 'Contact' button at the top of the page in the navigation
        bar.
      </p>
      <p>
        Things to look out for in the future: Our web app will soon be available
        for mobile devices!
      </p>
      <p>
        Better your spending habits by
        <a href="/login">creating an account with us today!</a>
      </p>
      <br />
    </div>
  </body>
</html>
