<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Currency Converter</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Currency Converter</h1>
      </div>
      <div class="date">2019-11-20</div>
      <ul class="currencies"></ul>
      <li class="currency" id="USD"></li>
      <ul class="add-currency-list"></ul>
      <button class="add-currency-btn">Add Currency</button>
    </div>

    <script src="main.js"></script>
  </body>
</html>
